<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @empresa.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @empresa.direccion %>
</p>

<p>
  <b>String:</b>
  <%= @empresa.string %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @empresa.descripcion %>
</p>

<p>
  <b>Reseñas:</b>
  <%= @empresa.reseñas %>
</p>

<p>
  <b>Foto:</b>
  <%= @empresa.foto %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
